body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.product{
    display: flex;
    height: 500px;
    padding: 20px;
    background-color: white;
    clip-path: polygon(0 4%, 100% 0, 100% 93%, 0 81%);
}
.img{
    display:flex;
    width: 400px;
    height: 300px;
    padding-right: 30px;
}
.info{
    width:1200px;
    height: 500px;
}
.Buybtn1{
    width: 150px;
    height:40px;
    color: black;
    background-color: gold;
    padding : 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    left: 0;
    bottom:0;
}
.Buybtn1:hover{
    color: white;
    background-color: black;
}

.Buybtn2{
    width: 150px;
    height:40px;
    color: black;
    background-color: gold;
    padding : 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    left: 0;
    bottom:0;
}
.Buybtn2:hover{
    color: white;
    background-color: black;
}

.payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  }
  
  .payTitle {
    font-size: 20px;
    color: lightgray;
  }
  
  label {
    font-size: 14px;
    font-weight: 300;
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .payInput::placeholder {
    color: rgb(163, 163, 163);
  }
  
  
  .sm {
    width: 30%;
  }
  
  .payButton {
    position: absolute;
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #dcad13;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
  